body{
    font-family: sans-serif;
    margin: 0px !important;
    font-weight: bold;
    background-color: #5c8bff;
}
@import './Helpe/Mixin.scss'; 
@import './component/Navbar.scss';
@import './component/Rigister.scss';
@import './component/Profile.scss';
@import './component/Home.scss';
